@import "tailwindcss";

@theme {
  --color-primary: #013389;
  --color-dark-blue: #080c34;
  --color-secondary: #006ae4;
  --font-noto-sans-tc: "Noto Sans TC", sans-serif;
  --font-orbitron: "Orbitron", sans-serif;
  --font-audiowide: "Audiowide", sans-serif;
}
